body {
  /* Position */
  padding: 1%;

  /* Design */
  background-color: gray;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
h1{
  /* Position */
  padding: 20px;
  text-align: center;

  /* Design */
  letter-spacing: 3px;
  color: rgb(255, 255, 255);
  
}

.flexbox{
  /* Position */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.catContainer{
  /* Position */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  
  /* Size */
  max-height: 400px;
  width: 23%;

  /* Design */
  border-radius: 10px;
  overflow: hidden; /* for border radius to work */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.catContainer img {
  /* Size */
  width: 100%;
  height: 100%;
  object-fit: cover; /* To make different size of images look same size, hoping cat was in the center of the image */
  overflow: hidden;
}

.catName{
  /* Position */
  position: absolute;
  bottom: 1%;
  text-align: center;
  padding: 10px;

  /* Size */
  width: 100%;

  /* Design */
  color: white;
  letter-spacing: 2px;
  text-shadow: 1px 1px 3px #272727;
  border: 1px solid rgb(255, 255, 255);
  backdrop-filter: blur(15px);
}


/* Responsive Design */
@media screen and (max-width: 800px) {
  .catContainer{
    width: 48%;
  }
}

@media screen and (max-width: 600px) {
  .catContainer{
    width: 100%;
  }
  h1{
    font-size: 24px;
  }
}

