body {
  background-color: pink;
}

img {
  max-width: 400px;
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.flex-container {
  width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  background-color: #ffffff;
}

.flex-col {
  flex-basis: calc(25%-20px);
  margin: 10px;
}